<h1>DashBoard#index</h1>
<h2>ユーザ一覧</h2>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>username</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<h2>所属一覧</h2>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
  </thead>
  <tbody>
  <% @belongs.each do |belong| %>
      <tr>
        <td><%= belong.id %></td>
        <td><%= belong.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>